*{
  color:#282828;
}

body {
  background-color: white;}

.navbar-default .navbar-brand {
                         color: #FFFFFF;}

.navbar-default .navbar-nav>li>a {
    color: white !important;
}

.navbar-default {
    background-color: #0e1b8c !important;
    margin-left: -20px;
    margin-right: -20px;
    alignment-baseline: ;
}

.navbar-default:hover {
    background-color: #0e1b8c !important;
}

.caret {
  color:white;
}

.title-logo {
  color: white !important;
}

